body {

    background-image: url("snowy-mountains.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
head {
    height: 350px;
    }
