.innpakning { 
margin: 1%;
display: flex;
flex-direction: column;
flex-wrap: wrap;
position: fixed;
}

   
}

.header {
  background-image: url("snowy-mountains.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
  .meny {
  height: 26px;
  background-color:lightblue;
  color: white;
  padding: 12px;
  font-family: Helvetica,Arial;
      width:98%;
    margin:1%;
  }

  .innhold {
    background-color: white;
    padding: 5px;
    margin: 5px;
    
  }

.innhold h1{
    text-align: center;
}

 p {
    text-align: left;
}
    
.meny a{
    color:white;
    text-decoration: none;
      display:inline;
    width:200px;
    margin:20px;
    padding:20px;
}

.meny a:visited{
    color:white;
    }

 body{
        margin-top: 0px;
        margin-bottom: 0px;
        width: 1080px;
        background-color: #FFFFFF;
    font-family:Helvetica,Arial;
    font-size:18px;
    }
.footer{

    height:60px;
    background-color:lightblue;
    color:white;
    text-align:center;
    padding-top: 15px;
}

.innhold2 {
   flex: 1;
   }

.innhold3 {
   flex: 2;
   }

