.innpakning{
max-width: 1200px;
min-width: 1100px;
margin: auto;
display: flex;
flex-direction: column;
flex-wrap: wrap;
}

    .topptekst{
    background-image: url("snowy-mountains.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
        
  .meny{
  height: 26px;
  background-color:lightblue;
  color: white;
  padding: 12px;
  font-family: Helvetica,Arial;
  }

  .innhold{
    background-color: white;
    padding: 5px;
    margin: 5px;
  }
