.innpakning, html, body {
    height: 100%;
    margin: 0;
max-width: 1200px;
min-width: 1100px;
margin: auto;
display: flex;
flex-direction: column;
flex-wrap: wrap;
}

    .header {
     background-image: url("snowy-mountains.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  .meny {
  height: 26px;
  background-color:lightblue;
  color: white;
  padding: 12px;
  font-family: Helvetica,Arial;
  }

  .innhold {
    background-color: white;
    padding: 5px;
    margin: 5px;
  }

.menu a{
    color:white;
    text-decoration: none;
      display:inline;
    width:200px;
    margin:20px;
    padding:20px;
}

.menu a:visited{
    color:white;
    
    body{

    font-family:Helvetica,Arial;
    font-size:18px;
