.innpakning {
width: 1080px; 
margin: auto;
display: flex;
flex-direction: column;
flex-wrap: wrap;
position: fixed;
}

    .header {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}

.snowy {
    width: 100%;
    image-size: cover;
    position: fixed;
    picture-repeat: no-repeat;
   }

  .meny {
  height: 26px;
  background-color:lightblue;
  color: white;
  padding: 12px;
  font-family: Helvetica,Arial;
  }

  .innhold {
    background-color: white;
    padding: 5px;
    margin: 5px;
    
  }

.innhold h1{
    text-align: center;
}

 p {
    text-align: left;
}
    
.meny a{
    color:white;
    text-decoration: none;
      display:inline;
    width:200px;
    margin:20px;
    padding:20px;
}

.meny a:visited{
    color:white;
    }

body{

    font-family:Helvetica,Arial;
    font-size:18px;
   }
